<div class="aside" [style.width]="open ? '300px' : 'auto'">
    <header class="h" *ngIf="open; else cross">
        <h3>
            <i class="pi pi-filter"></i>
            Filtros
        </h3>
        <i class="pi pi-times" (click)="toggle()"></i>
    </header>

    <section *ngIf="open">
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="info.name" pattern="[a-zA-Z]"
            (keypress)="sendToMain()">
    </section>
</div>

<ng-template #cross>
    <i class="pi pi-bars" (click)="toggle()"></i>
</ng-template>