<div class="card" data-aos="fade-up">
    <img src="{{card.images.large}}" alt="{{card.name}}" class="img">
    <span></span>
    <div class="info">
        <h2>{{card.name}}</h2>
        <p *ngIf="card.tcgplayer?.prices?.normal?.market">Normal: {{card.tcgplayer?.prices?.normal?.market}}</p>
        <p *ngIf="card.tcgplayer?.prices?.holofoil?.market">Holo: {{card.tcgplayer?.prices?.holofoil?.market}}</p>
        <p *ngIf="card.tcgplayer?.prices?.reverseHolofoil?.market">Reverse
            Holo:{{card.tcgplayer?.prices?.reverseHolofoil?.market}}</p>
    </div>

</div>