* {
    border-radius: 16px;
}

$h: 25rem;
$w: calc($h / 1.5);

.card {
    position: relative;
    width: $w;
    height: $h;

    * {
        position: absolute;
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    span {
        width: 100%;
        height: 100%;
        background: #000;
        background: linear-gradient(0deg, rgba(#000, .85) 0%, rgba(#000, .75) 0%, rgba(#000, 0) 40%, rgba(#000, 0) 80%, rgba(#000, .75) 100%);
    }

    .info {
        * {
            position: relative;
        }

        bottom: 0px;
        left: 0px;

        h2,
        p {
            color: transparent;
        }
    }

    &:hover {
        span {
            background: linear-gradient(0deg, rgba(#000, 1) 0%, rgba(#000, .8) 50%, rgba(#000, 0) 70%, rgba(#000, 0) 80%, rgba(#000, .8) 100%);
        }

        .info {

            h2,
            p {
                color: white;
                bottom: 32px;
                left: 32px;
            }
        }
    }
}