* {
    border-radius: 16px;
}

$h: 25rem;
$w: calc($h / 1.5);

.card {
    position: relative;
    width: $w;
    height: $h;

    * {
        position: absolute;
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    span {
        width: 100%;
        height: 100%;
        background: black;
        background: linear-gradient(0deg, rgba(black, 1), rgba(0, 0, 0, 0.9) 15%, rgba(255, 255, 255, 0) 100%);
    }

    .info {
        bottom: 0;

        * {
            position: relative;
        }
    }
}